.messages__item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.messages__rating {
  align-items: center;
  display: flex;
  margin-left: auto;
  @include mobile {
    order: 1;
    margin-top: 13px;
  }
}

.messages__avatar {
  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  width: 50px;
  margin-right: 27px;

  @include mobile {
    margin-right: 6px;
  }
}

.messages__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //align-items: flex-start;
  height: 45px;
  @include mobile {
    flex-wrap: nowrap;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.messages__author {
  @include nova-semibold;
  color: #101113;
  font-size: 15px;
  margin-bottom: 7px;

  @include mobile {
    margin-bottom: 0;
  }
}

.messages__date {
  @include nova-regular;
  color: #828a91;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 7px;
  order: 1;

  @include mobile {
    order: 0;
    margin-top: 0;
    margin-left: 0;
  }
}

.messages__text {
  margin-left: 78px;
  text-align: left;
  @include nova-regular;
  font-size: 13px;
  line-height: 25px;
  color: #5b5c5d;
  width: 100%;

  @include mobile {
    margin-left: 0;
    margin-top: 15px;
  }
}

.messages__like-count {
  @include open-sans-exbold;
  font-size: 18px;
  color: #5b5c5d;
}

.messages__like-count--active {
  color: #00b4f3;
}

.messages__answer {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 78px;
  margin-top: 15px;
  text-decoration: none;
  color: #5b5c5d;
  font-size: 12px;
  height: 27px;
  width: 84px;
  background-color: rgba(91, 92, 93, 0.15);

  @include mobile {
    margin-left: 0;
  }
}

.messages__plus,
.messages__minus {
  cursor: pointer;

  &:hover path{
    //fill-opacity: 0.7;
    fill: #00b4f3;
    transition: fill .3s ease;
  }
}

.messages__item--tree {
  margin-left: 78px;

  @include mobile {
    margin-left: 20px;
  }
}
