<div class="forecast-today">
  <span class="forecast-today__title">Прогнозы на футбол <span class="forecast-today__sort">сегодня</span></span>
  <div class="forecast-today__item">
    <div class="forecast-today__time-wrapper">
      <div class="forecast-today__league-img"></div>
      <div class="forecast-today__time">14:00</div>
    </div>
    <div class="forecast-today__first-team-wrapper">
      <div class="forecast-today__first-team">Манчестер Юнайтед</div>
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__first-team-img" src="image/mu.png" alt="Манчестер Юнайтед">
      </div>
    </div>
    <div class="forecast-today__dash"></div>
    <div class="forecast-today__second-team-wrapper">
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__second-team-img" src="image/bournemouth.png" alt="Борнмут">
      </div>
      <div class="forecast-today__second-team">Борнмут</div>
    </div>
    <div class="forecast-today__ratio">
      <a class="forecast-today__ratio-link" href="#">2.50</a>
    </div>
  </div>
  <div class="forecast-today__item">
    <div class="forecast-today__time-wrapper">
      <div class="forecast-today__league-img"></div>
      <div class="forecast-today__time">14:00</div>
    </div>
    <div class="forecast-today__first-team-wrapper">
      <div class="forecast-today__first-team">Реал Сосьедад</div>
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__first-team-img" src="image/Layer-16.png" alt="Реал Сосьедад">
      </div>
    </div>
    <div class="forecast-today__dash"></div>
    <div class="forecast-today__second-team-wrapper">
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__second-team-img" src="image/Layer-15.png" alt="Депортиво">
      </div>
      <div class="forecast-today__second-team">Депортиво</div>
    </div>
    <div class="forecast-today__ratio">
      <a class="forecast-today__ratio-link" href="#">2.70</a>
    </div>
  </div>
  <div class="forecast-today__item">
    <div class="forecast-today__time-wrapper">
      <div class="forecast-today__league-img"></div>
      <div class="forecast-today__time">14:00</div>
    </div>
    <div class="forecast-today__first-team-wrapper">
      <div class="forecast-today__first-team">Кёльн</div>
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__first-team-img" src="image/Layer-512.png" alt="Кёльн">
      </div>
    </div>
    <div class="forecast-today__dash"></div>
    <div class="forecast-today__second-team-wrapper">
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__second-team-img" src="image/bvb.png" alt="Дортмундская Боруссия">
      </div>
      <div class="forecast-today__second-team">Дортмундская Боруссия</div>
    </div>
    <div class="forecast-today__ratio">
      <a class="forecast-today__ratio-link" href="#">1.50</a>
    </div>
  </div>
  <div class="forecast-today__item forecast-today__item--last">
    <div class="forecast-today__time-wrapper">
      <div class="forecast-today__league-img"></div>
      <div class="forecast-today__time">14:00</div>
    </div>
    <div class="forecast-today__first-team-wrapper">
      <div class="forecast-today__first-team">Манчестер Юнайтед</div>
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__first-team-img" src="image/mu.png" alt="Манчестер Юнайтед">
      </div>
    </div>
    <div class="forecast-today__dash"></div>
    <div class="forecast-today__second-team-wrapper">
      <div class="forecast-today__img-wrapper">
        <img class="forecast-today__second-team-img" src="image/bournemouth.png" alt="Борнмут">
      </div>
      <div class="forecast-today__second-team">Борнмут</div>
    </div>
    <div class="forecast-today__ratio">
      <a class="forecast-today__ratio-link" href="#">2.50</a>
    </div>
  </div>
</div>
