.match-prediction__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 40px;
}

.match-prediction__rating {
  align-items: center;
  display: flex;
  margin-left: auto;

  @include mobile {
    margin-top: 15px;
  }
}

.match-prediction__author {
  @include nova-semibold;
  color: #101113;
  font-size: 15px;
  margin-bottom: 7px;

  @include mobile {
    margin-bottom: 0;
  }
}

.match-prediction__date {
  @include nova-regular;
  color: #828a91;
  font-size: 12px;
  margin-left: 7px;
  margin-top: 3px;

  @include mobile {
    margin-left: 0;
    margin-top: 0;
    order: 0;
  }

  order: 1;
}

.match-prediction__text {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;

  @include mobile {
    margin-left: 0;
    margin-top: 15px;
  }
}

.match-prediction__like-count {
  @include open-sans-exbold;
  color: #5b5c5d;
  font-size: 18px;
  font-size: 16px;
  margin-right: 8px;

  @include desktop {
    margin-right: 5px;
  }
  @include tablet {
    margin-right: 5px;
  }
  @include mobile {
    margin-right: 2px;
  }

}

.match-prediction__like-count--active {
  color: #00b4f3;
}

.match-prediction__answer {
  align-items: center;
  background-color: rgba(91, 92, 93, 0.15);
  border-radius: 3px;
  color: #5b5c5d;
  display: flex;
  font-size: 12px;
  height: 27px;
  justify-content: center;
  margin-left: 78px;
  margin-top: 15px;
  text-decoration: none;
  width: 84px;

  @include mobile {
    margin-left: 0;
  }
}

.match-prediction__plus {
  margin-right: 12px;

  @include desktop {
    margin-right: 7px;
  }

  @include tablet {
    margin-right: 7px;
  }

  @include mobile {
    margin-right: 3px;
  }
}

.match-prediction__plus,
.match-prediction__minus {
  cursor: pointer;

  &:hover path {
    //fill-opacity: 0.7;
    transition: fill .3s ease;
    fill: #00b4f3;
  }
}

.match-prediction__item--tree {
  margin-left: 78px;

  @include mobile {
    margin-left: 20px;
  }
}

.match-prediction__title {
  color: #101113;
  @include nova-semibold;
  font-size: 16px;
  text-align: left;

  @include desktop {
    max-width: 300px;
  }

  @include tablet {
    max-width: 300px;
  }

  @include mobile {
    max-width: 170px;
    font-size: 15px;
  }
}

.match-prediction__chance {
  align-items: baseline;
  display: flex;
  margin-left: auto;

  @include mobile {
    margin-left: 0;
    width: 100%;
  }
}

.match-prediction__chance-note {
  @include nova-regular;
  color: #101113;
  font-size: 13px;
  margin-right: 20px;

  @include desktop {
    margin-right: 6px;
  }

  @include tablet {
    margin-right: 6px;
  }

  @include mobile {
    margin-right: auto;
  }
}

.match-prediction__bookmaker-wrapper {
  display: flex;
}

.match-prediction__img-wrapper {
  align-items: center;
  display: flex;
  margin-right: 18px;
}

.match-prediction__bookmaker-tb {
  align-items: center;
  background-color: #f5f5f5;
  border-bottom-left-radius: 3px;
  @include nova-regular;
  border-top-left-radius: 3px;
  color: #293139;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  min-width: 100px;
}

.match-prediction__coef {
  align-items: center;
  background-color: #00b4f3;
  border-bottom-right-radius: 3px;
  @include nova-bold;
  border-top-right-radius: 3px;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  min-width: 70px;
}

.match-prediction__result {
  align-items: center;
  background-color: #cdf4d9;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(27, 171, 69);
  @include nova-bold;
  display: flex;
  font-size: 13px;
  height: 30px;
  justify-content: center;
  margin-left: auto;
  min-width: 100px;
  padding: 0 13px;

  @include mobile {
    font-size: 10px;
    min-width: 68px;
    padding: 0 6px;
  }
}

.match-prediction__result--fail {
  background-color: #ffe0e0;
  color: rgb(235, 54, 80);
}

.match-prediction__separator {
  background-color: #dddddd;
  height: 1px;
  width: 100%;
}
