.header {
  margin-bottom: 9px;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.header__content {
  align-items: flex-start;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  max-width: $max-content-width;
  min-height: 60px;
  position: relative;
  z-index: 1;

  @include desktop {
    max-width: 900px;
  }

  @include tablet {
    flex-wrap: wrap;
    max-width: 595px;
  }

  @include mobile {
    flex-wrap: wrap;
    max-width: 290px;
  }
}

.header::after {
  background: #0b101e;
  content: '';
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header__list {
  align-items: center;
  color: white;
  display: flex;
  font-size: 13px;
  list-style: none;
  margin-left: 148px;
  margin-top: 5px;
  @include nova-regular;
  text-transform: uppercase;

  @include tablet {
    display: none;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    order: 1;
  }

  @include mobile {
    display: none;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    order: 1;
  }
}

.header__logo {
  margin-bottom: 5px;
}

.header__logo-link {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  justify-content: center;
}

.header__item {
  border-radius: 2px;
  box-sizing: border-box;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;

  &--active {
    background-color: $header-menu-active;

    @include tablet {
      background-color: transparent;
    }

    @include mobile {
      background-color: transparent;
    }
  }

  @include tablet {
    border-bottom: 1px solid #343f53;
    height: 57px;
    padding: 0;
    width: 100%;
  }

  @include mobile {
    border-bottom: 1px solid #343f53;
    height: 57px;
    padding: 0;
    width: 100%;
  }
}

.header__item:last-child {
  border-bottom: none;
}

.header__login {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-top: 13px;
}

.header__item--logo {
  margin-right: 148px;
  padding: 0;

  @include tablet {
    display: block;
    margin: 0;
  }

  @include mobile {
    display: block;
    margin: 0;
  }
}

.header__item-link {
  color: $header-menu;
  font-size: 13px;
  @include nova-regular;
  text-decoration: none;
  transition: color .3s ease;

  &--login {
    text-transform: capitalize;
  }

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #9a9a9a;
  }

  &--active {
    color: $header-menu-active-text;

    &:active {
      color: #ffffff;
    }
  }

  @include tablet {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    text-transform: none;
  }

  @include mobile {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
    text-transform: none;
  }
}

.header__menu {
  align-items: center;
  display: none;
  margin-right: 18px;
  margin-top: 19px;

  @include tablet {
    display: flex;
  }

  @include mobile {
    display: flex;
  }
}

.header__hamburger {
  cursor: pointer;
  &:hover {
    fill: #ffffff;
  }

  fill: $header-menu;
}

// ****************************//
// Классы для выпадающего меню //
// ****************************//

.header__list--show {
  display: flex;
  margin-top: 20px;
}

//************************************
