<div class="header">
  <div class="header__content">
    <div class="header__menu">
      <svg class="header__hamburger" width="20" height="15">
        <use xlink:href="#hamburger"></use>
      </svg>
    </div>
    <a href="#" class="header__logo-link">
      <img class="header__logo" src="image/logo@2x.png" alt="BetPro365" width="156" height="35">
    </a>
    <ul class="header__list">
      <li class="header__item header__item--active">
        <a href="#" class="header__item-link header__item-link--active">Прогнозы</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__item-link">Букмекеры</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__item-link">Школа ставок</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__item-link">О проекте</a>
      </li>
    </ul>
    <span class="header__login">
      <a href="#" class="header__item-link">Вход</a>
    </span>
  </div>
</div>
