<div class="day-bet content__item-f">
  <span class="day-bet__title">Ставка дня</span>
  <div class="day-bet__period">
    <span class="day-bet__time">22:30</span>
    <span class="day-bet__day">27 декабря 2018</span>
  </div>
  <div class="day-bet__teams">
    <div class="day-bet__team-1">
      <div class="day-bet__team-1-logo"></div>
      <span class="day-bet__team-name">Арсенал</span>
    </div>
      <svg class="day-bet__versus" width="22" height="32">
        <use xlink:href="#vs"></use>
    </svg>
    <div class="day-bet__team-2">
      <div class="day-bet__team-2-logo"></div>
      <span class="day-bet__team-name">Манчестер<br>Юнайтед</span>
    </div>
  </div>
  <div class="day-bet__separator"></div>
  <span class="day-bet__coef-title">3 лучших кэфа</span>
  <div class="day-bet__coef-wrapper">
    <div class="day-bet__coef-value">
      <a class="day-bet__link" href="#">2.50</a>
    </div>
    <div class="day-bet__coef-value">
      <a class="day-bet__link" href="#">2.50</a>
    </div>
    <div class="day-bet__coef-value">
      <a class="day-bet__link" href="#">2.50</a>
    </div>
  </div>
</div>
