.day-bet {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  min-height: 465px;
  border-radius: 3px;
}

.day-bet__title {
  color: $day-bet-main-text;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 40px;
  margin-top: 37px;
  @include nova-bold;
  text-transform: uppercase;
}

.day-bet__period {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.day-bet__time {
  color: #00b7f8;
  font-size: 48px;
  @include nova-bold;
  text-transform: uppercase;
}

.day-bet__day {
  color: $day-bet-main-text;
  @include nova-regular;
  font-size: 14px;
}

.day-bet__separator {
  background-color: #dddddd;
  height: 1px;
  margin-bottom: 15px;
  width: 251px;
}

.day-bet__coef-title {
  color: $day-bet-main-text;
  @include nova-regular;
  font-size: 18px;
  margin-bottom: 15px;
}

.day-bet__coef-wrapper {
  display: flex;
}

.day-bet__link {
  text-decoration: none;
  height: 40px;
  width: 70px;
  @include nova-bold;
  background: #00c6f0;
  border-radius: 3px;
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  transition: background .3s ease;

  &:hover {
    background: #151e2a;
  }

  &:active {
    background: $forecast-active;
  }
}

.day-bet__coef-value {
  margin: 0 5px;
}

.day-bet__teams {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  min-width: 220px;
}

.day-bet__team-1,
.day-bet__team-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.day-bet__team-1-logo {
  background: url("../image/arsenal.png") center no-repeat;
  background-size: contain;
  height: 70px;
  margin-bottom: 10px;
  width: 70px;
}

.day-bet__team-2-logo {
  background: url("../image/mu.png") center no-repeat;
  background-size: contain;
  height: 70px;
  margin-bottom: 10px;
  width: 70px;
}

.day-bet__team-name {
  color: $day-bet-main-text;
  font-size: 15px;
  text-align: center;
  @include nova-regular;
}

.day-bet__versus {
  margin-top: 22px;
  fill: #00b4f3;
}

.day-bet--prediction {
  @include mobile {
    margin-top: 12px;
  }
}

.day-bet--endgame{
  @include mobile {
    margin-top: 12px;
  }
}
