.mobile-promotion {
  display: none;
  overflow: hidden;

  @include mobile {
    display: block;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}

.mobile-promotion__image {
  border-radius: 3px;
}
