<div class="recommendation content__item-c">
  <span class="recommendation__title">Рекомендуем</span>
  <ul class="recommendation__list">
    <li class="recommendation__item">
      <a href="#" class="recommendation__link">
        <img class="recommendation__image" src="image/18bet.png" alt="18bet" height="26" width="104">
        <div class="recommendation__rating-cover">
          <svg class="recommendation__stars" width="49" height="9">
            <use xlink:href="#stars"></use>
          </svg>
          <div class="recommendation__like-wrapper">
            <svg class="recommendation__like" width="12" height="11">
              <use xlink:href="#like"></use>
            </svg>
            <span class="recommendation__value">39</span>
          </div>
        </div>
      </a>
    </li>
    <li class="recommendation__item">
      <a href="#" class="recommendation__link">
        <img class="recommendation__image" src="image/leonru.png" alt="leon.ru" height="25" width="131">
        <div class="recommendation__rating-cover">
          <svg class="recommendation__stars" width="49" height="9">
            <use xlink:href="#stars"></use>
          </svg>
          <div class="recommendation__like-wrapper">
            <svg class="recommendation__like recommendation__like--active" width="12" height="11">
              <use xlink:href="#like"></use>
            </svg>
            <span class="recommendation__value">39</span>
          </div>
        </div>
      </a>
    </li>
    <li class="recommendation__item">
      <a href="#" class="recommendation__link">
        <img class="recommendation__image" src="image/1xbet.png" alt="1xbet" height="36" width="85">
        <div class="recommendation__rating-cover">
          <svg class="recommendation__stars" width="49" height="9">
            <use xlink:href="#stars"></use>
          </svg>
          <div class="recommendation__like-wrapper">
            <svg class="recommendation__like" width="12" height="11">
              <use xlink:href="#like"></use>
            </svg>
            <span class="recommendation__value">39</span>
          </div>
        </div>
      </a>
    </li>
    <li class="recommendation__item">
      <a href="#" class="recommendation__link">
        <img class="recommendation__image" src="image/winline.png" alt="winline" height="31" width="130">
        <div class="recommendation__rating-cover">
          <svg class="recommendation__stars" width="49" height="9">
            <use xlink:href="#stars"></use>
          </svg>
          <div class="recommendation__like-wrapper">
            <svg class="recommendation__like" width="12" height="11">
              <use xlink:href="#like"></use>
            </svg>
            <span class="recommendation__value">39</span>
          </div>
        </div>
      </a>
    </li>
    <li class="recommendation__item">
      <a href="#" class="recommendation__link">
        <img class="recommendation__image" src="image/betcity.png" alt="betcity" height="27" width="116">
        <div class="recommendation__rating-cover">
          <svg class="recommendation__stars" width="49" height="9">
            <use xlink:href="#stars"></use>
          </svg>
          <div class="recommendation__like-wrapper">
            <svg class="recommendation__like" width="12" height="11">
              <use xlink:href="#like"></use>
            </svg>
            <span class="recommendation__value">39</span>
          </div>
        </div>
      </a>
    </li>
    <li class="recommendation__item">
      <a href="#" class="recommendation__link">
        <img class="recommendation__image" src="image/ladbrokes.png" alt="betcity" height="22" width="121">
        <div class="recommendation__rating-cover">
          <svg class="recommendation__stars" width="49" height="9">
            <use xlink:href="#stars"></use>
          </svg>
          <div class="recommendation__like-wrapper">
            <svg class="recommendation__like" width="12" height="11">
              <use xlink:href="#like"></use>
            </svg>
            <span class="recommendation__value">39</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

