.recommendation {
  align-items: center;
  background: $sideblock;
  color: $sideblock-title;
  display: flex;
  flex-direction: column;
  min-height: 465px;
  width: 290px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  &:after {
    background: url("../image/idk@2x.png") no-repeat;
    background-size: contain;
    content: '';
    height: 32px;
    opacity: 0.25;
    position: absolute;
    right: -45px;
    top: 28px;
    width: 103px;
  }
}

.recommendation__title {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 35px;
  text-transform: uppercase;

  @include nova-bold;
}

.recommendation__item {
  border-radius: 3px;
  position: relative;
  transition: background .3s ease;

  &:hover {
    background-color: $sideblock-hover;
    transition: background .3s ease;
  }

  &:hover .recommendation__image {
    opacity: 1;
  }
}

.recommendation__link {
  color: $sideblock-text;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  min-width: 260px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  text-decoration: none;

  @include nova-regular;
}

.recommendation__stars {
  margin-bottom: 5px;
  fill: #84cdcc;
}

.recommendation__rating-cover {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;
}

.recommendation__like-wrapper {

}

.recommendation__like {
  fill: #838383;

  &--active {
    fill: #ffffff;
  }
}

.recommendation__image {
  opacity: 0.5;
  margin-left: 15px;
}

.recommendation__value {
  color: #ffffff;
}

.recommendation--endgame {
  display: none;

  @include tablet {
    display: flex;
  }

  @include mobile {
    display: flex;
  }
}

.recommendation--endgame-wide {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

