<div class="subject content__item-d">
  <ul class="subject__list">
    <li class="subject__item">
      <a href="#" class="subject__link subject__link--active">
        <svg class="subject__icon" width="26" height="26">
          <use xlink:href="#football"></use>
        </svg>
        Футбол
      </a>
    </li>
    <li class="subject__item">
      <a href="#" class="subject__link">
        <svg class="subject__icon" width="26" height="26">
          <use xlink:href="#hockey"></use>
        </svg>
        Хоккей
      </a>
    </li>
    <li class="subject__item">
      <a href="#" class="subject__link">
        <svg class="subject__icon" width="26" height="26">
          <use xlink:href="#basketball"></use>
        </svg>
        Баскетбол
      </a>
    </li>
    <li class="subject__item">
      <a href="#" class="subject__link">
        <svg class="subject__icon" width="26" height="26">
          <use xlink:href="#tennis"></use>
        </svg>
        Теннис
      </a>
    </li>
  </ul>
</div>
