.subject {
  background: $subject-background;
  min-height: 92px;
  width: calc(100% - 15px);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  @include desktop {
    width: 100%;
  }

  @include tablet {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 14px;
  }

  @include mobile {
    width: 100%;
  }
}

.subject--flexible {
  width: calc(100% - 14px);

  @include tablet {
    margin-bottom: 10px;
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}

.subject__list {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;

  @include mobile {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.subject__item {
  width: 100%;
}

.subject__icon {
  margin-right: 10px;
  opacity: 0.6;
  fill: #ffffff;
}

.subject__icon--middle {
  margin: 0;
  margin-left: 5px;

  @include desktop {
    margin-right: 20px
  }

  @include tablet {
    margin-right: 20px
  }
}

.subject__link {
  align-items: center;
  color: $subject-main-color;
  display: flex;
  font-size: 15px;
  height: 92px;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  @include nova-regular;
  transition: background .3s ease;

  &--active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00fffb+0,00fffb+100&0+0,0+18,0.05+33,0.18+62,0.41+100 */
    background: -moz-linear-gradient(top, hsla(179, 100%, 50%, 0) 0%, hsla(179, 100%, 50%, 0) 18%, hsla(179, 100%, 50%, 0.05) 33%, hsla(179, 100%, 50%, 0.18) 62%, hsla(179, 100%, 50%, 0.41) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsla(179, 100%, 50%, 0) 0%, hsla(179, 100%, 50%, 0) 18%, hsla(179, 100%, 50%, 0.05) 33%, hsla(179, 100%, 50%, 0.18) 62%, hsla(179, 100%, 50%, 0.41) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsla(179, 100%, 50%, 0) 0%, hsla(179, 100%, 50%, 0) 18%, hsla(179, 100%, 50%, 0.05) 33%, hsla(179, 100%, 50%, 0.18) 62%, hsla(179, 100%, 50%, 0.41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000fffb', endColorstr='#6900fffb', GradientType=0); /* IE6-9 */

    @include mobile {
      background: #018fe5;
    }
  }

  &--active .subject__icon {
    opacity: 1;
  }

  &:hover .subject__icon {
    opacity: 1;
  }

  &:hover {
    background: #00aaf7;

    @include mobile {
      background: #018fe5;
    }
  }

  @include desktop {
    font-size: 13px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include mobile {
    box-sizing: border-box;
    height: 66px;
    justify-content: flex-start;
    padding-left: 50px;
    width: 100%;
  }
}

.subject__link--flexible br {
  @include mobile {
    display: none;
  }
}

.subject__icon--flexible {
  margin-right: 10px;
  opacity: 0.6;
  fill: #ffffff;
}
