<div class="school content__item-h">
  <span class="school__title">Школа ставок</span>
  <div class="school__article">
    <a href="#" class="school__link">
      <img src="image/school_1@2x.png" alt="Заработать на ставках" class="school__image" width="231" height="130">
      <span class="school__note">Как заработать на ставках на спорт</span>
    </a>
  </div>
  <div class="school__article">
    <a href="#" class="school__link">
      <img src="image/school_2@2x.png" alt="Заработать на ставках" class="school__image" width="231" height="131">
      <span class="school__note">Как обыграть букмекера</span>
    </a>
  </div>
</div>
