.school {
  align-items: center;
  background-color: $sideblock;
  box-sizing: border-box;
  color: $sideblock-title;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  min-height: 465px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 290px;
  border-radius: 3px;

  &:after {
    background: url("../image/idk@2x.png") no-repeat;
    background-size: contain;
    content: '';
    height: 32px;
    opacity: 0.25;
    position: absolute;
    right: -45px;
    top: 28px;
    width: 103px;
  }
}

.school__title {
  color: #ffffff;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 35px;
  text-transform: uppercase;

  @include nova-bold;
}

.school__article {
  border-radius: 3px;
  width: 100%;
  transition: background .3s ease;

  &:hover {
    background-color: $sideblock-hover;
  }

  &:hover .school__image {
    opacity: 1;
  }

  &:hover .school__note {
    color: #ffffff;
  }
}

.school__link {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 10px;
  text-decoration: none;
}

.school__note {
  align-self: flex-start;
  color: #afb8b8;
  margin-left: 10px;
  margin-right: 10px;
  @include nova-bold;
  font-size: 14px;
}

.school__image {
  margin-bottom: 8px;
  opacity: 0.4;
}
