.content {
  display: grid;
  @include desktop {
    grid-template-columns: 305px 595px;
  }

  @include tablet {
    grid-template-columns: 305px 290px;
  }

  @include mobile {
    grid-template-columns: 290px;
  }

  grid-template-columns: 304px 610px 290px;
}

.content--2column {
  display: grid;
  @include desktop {
    grid-template-columns: 610px 290px;
  }

  @include tablet {
    grid-template-columns: 305px 290px;
  }

  @include mobile {
    grid-template-columns: 290px;
  }

  grid-template-columns: 914px 290px;
}

.content__item-a {
  @include tablet {
    grid-column: 1;
    grid-row: 2 / 3;
  }
  @include mobile {
    grid-column: 1;
    grid-row: 3;
  }

  grid-column: 1;

  grid-row: 1 / 3;
}

.content__item-b {
  @include mobile {
    grid-column: 1;
    grid-row: 4;
  }
  grid-column: 1;

  grid-row: 3;
}

.content__item-c {
  @include desktop {
    grid-column: 1;
    grid-row: 5 / 6;
  }
  @include tablet {
    grid-column: 1;
    grid-row: 5 / 6;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 5;
  }

  grid-column: 1;
  grid-row: 4;
}

.content__item-d {
  @include tablet {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  @include mobile {
    grid-column: 1;
    grid-row: 1;
  }

  grid-column: 2;

  grid-row: 1;
}

.content__item-e {
  width: 595px;
  @include tablet {
    width: 290px;
  }
  @include mobile {
    width: 290px;
    grid-column: 1;
    grid-row: 2;
  }

  grid-column: 2;

  grid-row: 2 / 9;
}

.content__item-f {
  min-height: 465px;
  width: 290px;
  @include desktop {
    grid-column: 1;
    grid-row: 4 / 5;
  }
  @include tablet {
    grid-column: 1;
    grid-row: 4 / 5;
  }

  @include mobile {
    display: none;
  }

  grid-column: 3;
  grid-row: 1 / 3;
}

.content__item-g {
  @include desktop {
    grid-column: 1;
    grid-row: 6;
  }
  @include tablet {
    grid-column: 1;
    grid-row: 6;
  }

  @include mobile {
    display: none;
  }
  grid-column: 3;

  grid-row: 3;
}

.content__item-h {
  @include desktop {
    grid-column: 1;
    grid-row: 7;
  }
  @include tablet {
    grid-column: 1;
    grid-row: 7;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 6;
  }

  grid-column: 3;
  grid-row: 4;
}

.content__item-i {
  @include mobile {
    grid-column: 1;
    grid-row: 3 / 4;
  }
  grid-column: 1;

  grid-row: 2 / 10;
}

.content__item-j {
  @include tablet {
    grid-column: 2;
    grid-row: 2 / 3;
  }
  @include mobile {
    grid-column: 1;
    grid-row: 2 /3;
  }

  grid-column: 2;

  grid-row: 1 / 3;
}

.content__item-d--flexible {
  @include tablet {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  grid-column: 1;
  grid-row: 1;
}

.content__item-f--bookmaker {
  @include mobile {
    display: flex;
    grid-column: 1;
    grid-row: 4;
  }
  grid-column: 2;

  grid-row: 3 / 4;
}

.content__item-h--bookmaker {
  @include mobile {
    grid-column: 1;
    grid-row: 5 / 6;
  }
  grid-column: 2;

  grid-row: 4 / 5;
}

.content__item-i--overview {
  @include mobile {
    grid-column: 1;
    grid-row: 1;
  }
  grid-column: 1;

  grid-row: 1 / 6;
}

.content__item-f--overview-bkm {
  @include mobile {
    display: flex;
    grid-column: 1;
    grid-row: 2;
  }
  grid-column: 2;

  grid-row: 1;
}

.content__item-h--overview-bkm {
  @include mobile {
    display: none;
  }
  grid-column: 2;

  grid-row: 2;
}

.content__item-c--overview-bkm {
  @include mobile {
    display: none;
  }
  grid-column: 2;

  grid-row: 3;
}

.content__item-g--overview-bkm {
  grid-column: 2;
  grid-row: 4;
}

.content__item-d--prediction {
  @include tablet {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  @include mobile {
    grid-row: 1;
    grid-column: 1;
  }

  grid-column: 1;

  grid-row: 1;
}

.content__item-e--prediction {
  width: calc(100% - 14px);
  @include mobile {
    width: 100%;
  }
  grid-column: 1;

  grid-row: 2 / 10;
}

.content__item-f--prediction {
  @include tablet {
    grid-column: 2;
    grid-row: 2 / 3;
  }
  @include mobile {
    display: flex;
    grid-column: 1;
    grid-row: 11;
  }

  grid-column: 2;
  grid-row: 1 / 3;
}

.content__item-c--prediction {
  @include mobile {
    grid-column: 1;
    grid-row: 12;
  }
  grid-column: 2;

  grid-row: 4;
}

.content__item-b--prediction {
  @include mobile {
    display: none;
  }
  grid-column: 2;

  grid-row: 3;
}

.content__item-i--review {
  @include tablet {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 6;
    margin-bottom: 0;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 1;
  }
  grid-column: 1;
  grid-row: 1 / 5;
}

.content__item-f--review {
  @include tablet {
    display: none;
  }
  grid-column: 2;
  grid-row: 1 / 2;
}

.content__item-h--review {
  @include tablet {
    grid-column: 1;
    grid-row: 10;
  }
  @include mobile {
    grid-column: 1;
    grid-row: 10;
  }
  grid-column: 2;
  grid-row: 2;
}

.content__item-g--review {
  @include tablet {
    grid-column: 2;
    grid-row: 10;
  }
  @include mobile {
    display: block;
    grid-column: 1;
    grid-row: 11;
  }
  grid-column: 2;
  grid-row: 3;
}

.content__item-i--endgame {
  @include tablet {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 6;
    margin-bottom: 0;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 1;
  }
  grid-column: 1;
  grid-row: 1 / 8;
}

.content__item-h--endgame {
  grid-column: 2;
  grid-row: 3 / 4;

  @include tablet {
    grid-column: 2;
    grid-row: 10;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 11;
  }
}

.content__item-g--endgame {
  grid-column: 2;
  grid-row: 2 /3;

  @include tablet {
    grid-column: 1;
    grid-row: 10;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 10;
    display: flex;
  }
}

.content__item-c--endgame-wide {
  grid-column: 2;
  grid-row: 4 / 5;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.content__item-i--text-page {
  @include tablet {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 6;
    margin-bottom: 0;
  }

  @include mobile {
    grid-column: 1;
    grid-row: 1;
  }
  grid-column: 1;
  grid-row: 1 / 8;
}
