.forecast-league {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-top: 30px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
  }

  @include mobile {
    background: none;
    margin-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.forecast-league__section {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;

  @include mobile {
    padding-top: 45px;
    border-radius: 0;
  }
}

.forecast-league__section:first-child {
  @include mobile {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.forecast-league__section:last-child {
  @include mobile {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.forecast-league__title {
  @include nova-bold;
  color: $forecast-title;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.forecast-league__sort {
  color: $forecast-sort;

  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }
}

.forecast-league__caption {
  color: #5b5c5d;
  font-size: 14px;
  @include nova-regular;
}

.forecast-league__caption-wrapper {
  align-items: center;
  display: flex;
}

.forecast-league__time-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 85px;

  @include tablet {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    left: 71px;
    min-width: 110px;
    position: absolute;
    top: 20px;
  }

  @include mobile {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    left: 71px;
    min-width: 110px;
    position: absolute;
    top: 20px;
  }
}

.forecast-league__time {
  color: #000000;
  @include nova-regular;
  font-size: 15px;
  line-height: 15px;

  @include tablet {
    font-size: 13px;
  }

  @include mobile {
    font-size: 13px;
  }
}

.forecast-league__date {
  color: #999999;
  @include nova-regular;
  font-size: 13px;
  line-height: 15px;

  @include tablet {
    margin-right: 3px;
  }

  @include mobile {
    margin-right: 3px;
  }
}

.forecast-league__league-img {
  background: url("../image/premier.png") no-repeat;
  background-size: contain;
  height: 26px;
  margin-right: 10px;
  width: 21px;
}

.forecast-league__item {
  border-bottom: 1px solid #dddddd;
  display: flex;
  min-width: 100%;
  padding-bottom: 15px;
  padding-top: 13px;

  &--last {
    border-bottom: none;
    margin-bottom: 25px;
  }

  @include tablet {
    justify-content: space-between;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
  }

  @include mobile {
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 0;
    padding-bottom: 15px;
    position: relative;
    width: 250px;
  }
}

.forecast-league__ratio-link {
  align-items: center;
  background: #00c6f0;
  border-radius: 3px;
  @include nova-bold;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: 900;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 70px;
  transition: background .3s ease;

  &:hover {
    background: #151e2a;
  }

  &:active {
    background: $forecast-active;
  }


  @include tablet {
    width: 67px;
  }

  @include mobile {
    width: 67px;
  }
}

.forecast-league__ratio {
  margin-left: auto;

  @include tablet {
    left: 94px;
    position: absolute;
    top: 41px;
  }

  @include mobile {
    left: 94px;
    position: absolute;
    top: 41px;
  }
}

.forecast-league__first-team-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 180px;

  @include tablet {
    flex-direction: column-reverse;
    margin-right: auto;
    width: 80px;
  }

  @include mobile {
    flex-direction: column-reverse;
    margin-right: auto;
    width: 80px;
  }
}

.forecast-league__second-team-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  @include tablet {
    flex-direction: column;
    width: 80px;
  }

  @include mobile {
    flex-direction: column;
    width: 80px;
  }
}

.forecast-league__first-team {
  color: #5b5c5d;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 14px;
  height: 100%;
  justify-content: center;
  max-width: 95px;
  @include nova-regular;
  text-align: right;
  width: 100%;

  @include tablet {
    flex-grow: 1;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    text-align: center;
  }

  @include mobile {
    flex-grow: 1;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    text-align: center;
  }
}

.forecast-league__second-team {
  color: #5b5c5d;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 14px;
  height: 100%;
  justify-content: center;
  max-width: 95px;
  @include nova-regular;
  text-align: left;
  width: 100%;

  @include tablet {
    flex-grow: 1;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    text-align: center;
  }

  @include mobile {
    flex-grow: 1;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    text-align: center;
  }
}

.forecast-league__dash {
  align-self: center;
  background: #101113;
  height: 2px;
  width: 10px;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.forecast-league__first-team-img {
  height: 36px;
  margin-left: 15px;

  @include tablet {
    margin-left: 0;
  }

  @include mobile {
    margin-left: 0;
  }
}

.forecast-league__second-team-img {
  height: 36px;
  margin-left: 15px;

  @include tablet {
    margin-left: 0;
  }

  @include mobile {
    margin-left: 0;
  }
}

.forecast-league__img-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 0;
  min-width: 65px;
  width: 65px;

  @include tablet {
    flex-shrink: 0;
    height: 35px;
    justify-content: center;
    margin-bottom: 5px;
    min-width: auto;
    width: 100%;
  }

  @include mobile {
    flex-shrink: 0;
    height: 35px;
    justify-content: center;
    margin-bottom: 5px;
    min-width: auto;
    width: 100%;
  }
}

.forecast-league__first-team-wrapper--prediction {
  width: 332px;

  @include desktop {
    width: 148px;
  }

  @include tablet {
    flex-direction: column-reverse;
    margin-right: auto;
    width: 80px;
  }

  @include mobile {
    flex-direction: column-reverse;
    margin-right: auto;
    width: 80px;
  }
}

.forecast-league__multiplier-link {
  display: flex;
  font-size: 11px;
  text-decoration: none;
  @include nova-bold;
  margin-left: 10px;
  align-self: center;

  @include desktop {
    margin-left: 4px;
  }

  @include tablet {
    position: absolute;
  }

  @include mobile {
    position: absolute;
  }

  &:first-of-type {
    margin-left: auto;
  }
}

.forecast-league__multiplier-link--first {
  @include tablet {
    top: 95px;
    left: 15px;
  }

  @include mobile {
    top: 95px;
    left: 15px;
  }
}

.forecast-league__multiplier-link--second {
  @include tablet {
    top: 95px;
    left: 91px;
  }

  @include mobile {
    top: 95px;
    left: 91px;
  }
}

.forecast-league__multiplier-link--third {
  @include tablet {
    top: 95px;
    left: 175px;
  }

  @include mobile {
    top: 95px;
    left: 175px;
  }
}

.forecast-league__time-wrapper--prediction {
  @include desktop {
    min-width: 55px;
  }

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    top: 25px;
    left: 74px;
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
    top: 25px;
    left: 74px;
  }
}

.forecast-league__time--prediction {
  font-size: 13px;
}

.forecast-league__short-date {
  display: none;
  @include desktop {
    display: block;
  }
}

.forecast-league__full-date {
  @include desktop {
    display: none;
  }
}

.forecast-league__img-wrapper--prediction {
  @include desktop {
    min-width: 50px;
    width: 50px;
  }
}

.forecast-league__first-team-img--prediction {
  @include desktop {
    margin-left: 7px;
  }
}

.forecast-league__second-team-img--prediction {
  @include desktop {
    margin-left: 7px;
  }
}

.forecast-league__first-team--prediction {
  @include desktop {
    font-size: 13px;
  }
}

.forecast-league__second-team--prediction {
  @include desktop {
    font-size: 13px;
  }
}

.forecast-league__item--prediction {
  @include tablet {
    padding-bottom: 45px;
  }

  @include mobile {
    padding-bottom: 45px;
  }
}

.forecast-league__multiplier-result {
  align-items: center;
  background-color: #d6d9dc;
  color: #202d3c;
  display: flex;
  height: 19px;
  justify-content: center;
  vertical-align: middle;
  width: 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.forecast-league__multiplier-coef {
  align-items: center;
  background-color: #213655;
  color: #ffffff;
  display: flex;
  height: 19px;
  justify-content: center;
  width: 38px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
