<div class="forecast-league">
  <div class="forecast-league__section">
    <span class="forecast-league__title">Прогнозы на спорт <span class="forecast-league__sort">по лигам</span></span>
    <div class="forecast-league__caption-wrapper">
      <div class="forecast-league__league-img"></div>
      <div class="forecast-league__caption">Англия: Премьер Лига</div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Манчестер Юнайтед</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/mu.png" alt="Манчестер Юнайтед">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bournemouth.png" alt="Борнмут">
        </div>
        <div class="forecast-league__second-team">Борнмут</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Реал Сосьедад</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-16.png" alt="Реал Сосьедад">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/Layer-15.png" alt="Депортиво">
        </div>
        <div class="forecast-league__second-team">Депортиво</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Кёльн</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-512.png" alt="Кёльн">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bvb.png" alt="Дортмундская Боруссия">
        </div>
        <div class="forecast-league__second-team">Дортмундская Боруссия</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Манчестер Юнайтед</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/mu.png" alt="Манчестер Юнайтед">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bournemouth.png" alt="Борнмут">
        </div>
        <div class="forecast-league__second-team">Борнмутd</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Реал Сосьедад</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-16.png" alt="Реал Сосьедад">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/Layer-15.png" alt="Депортиво">
        </div>
        <div class="forecast-league__second-team">Депортиво</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item forecast-league__item--last">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Кёльн</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-512.png" alt="Кёльн">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bvb.png" alt="Дортмундская Боруссия">
        </div>
        <div class="forecast-league__second-team">Дортмундская Боруссия</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
  </div>
  <include src="source/blocks/mobile-promotion/mobile-promotion.html"></include>
  <div class="forecast-league__section">
    <div class="forecast-league__caption-wrapper">
      <div class="forecast-league__league-img"></div>
      <div class="forecast-league__caption">Англия: Премьер Лига</div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Манчестер Юнайтед</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/mu.png" alt="Манчестер Юнайтед">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bournemouth.png" alt="Борнмут">
        </div>
        <div class="forecast-league__second-team">Борнмутd</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Реал Сосьедад</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-16.png" alt="Реал Сосьедад">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/Layer-15.png" alt="Депортиво">
        </div>
        <div class="forecast-league__second-team">Депортиво</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Кёльн</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-512.png" alt="Кёльн">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bvb.png" alt="Дортмундская Боруссия">
        </div>
        <div class="forecast-league__second-team">Дортмундская Боруссия</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Манчестер Юнайтед</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/mu.png" alt="Манчестер Юнайтед">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bournemouth.png" alt="Борнмут">
        </div>
        <div class="forecast-league__second-team">Борнмутd</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Реал Сосьедад</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-16.png" alt="Реал Сосьедад">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/Layer-15.png" alt="Депортиво">
        </div>
        <div class="forecast-league__second-team">Депортиво</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
    <div class="forecast-league__item forecast-league__item--last">
      <div class="forecast-league__time-wrapper">
        <div class="forecast-league__time">14:00</div>
        <div class="forecast-league__date">31 января</div>
      </div>
      <div class="forecast-league__first-team-wrapper">
        <div class="forecast-league__first-team">Кёльн</div>
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__first-team-img" src="image/Layer-512.png" alt="Кёльн">
        </div>
      </div>
      <div class="forecast-league__dash"></div>
      <div class="forecast-league__second-team-wrapper">
        <div class="forecast-league__img-wrapper">
          <img class="forecast-league__second-team-img" src="image/bvb.png" alt="Дортмундская Боруссия">
        </div>
        <div class="forecast-league__second-team">Дортмундская Боруссия</div>
      </div>
      <div class="forecast-league__ratio">
        <a class="forecast-league__ratio-link" href="#">2.50</a>
      </div>
    </div>
  </div>
</div>
