@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
  url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
  url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-bold.woff2") format("woff2"),
  url("../fonts/ProximaNova-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@mixin nova-regular {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
}

@mixin nova-semibold {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 600;
}

@mixin nova-bold {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 700;
}

@mixin open-sans-exbold {
  font-family: 'Open Sans', "Arial", sans-serif;
}
