@mixin mobile {
  @media (max-width: $tablet-width) {
    @content
  }
}

@mixin tablet {
  @media (min-width: $tablet-width + 1) and (max-width: $desktop-width) {
    @content
  }
}

@mixin desktop {
  @media (min-width: $desktop-width + 1) and (max-width: $wide-desktop-width) {
    @content
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content
  }
}

