* {
  border: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  color: #000000;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
