// resolutions
$mobile-width: 320px;
$tablet-width: 680px;
$desktop-width: 954px;
$wide-desktop-width: 1220px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$max-content-width: 1204px;

//colors
$sideblock: rgba(26, 41, 62, 0.7);
$sideblock-text: #afb8b8;
$sideblock-hover: rgba(255, 255, 255, 0.15);
$sideblock-text-active: #ffffff;
$sideblock-value: #ffffff;
$sideblock-title: #ffffff;

$footer-color: #0b101e;
$title-light-color: #ffffff;
$footer-list-color: #708387;
$footer-count-color: #40959f;
$footer-reg-color: rgba(122, 131, 131, 0.3);
$footer-age-color: #666666;

$header-menu: #747c93;
$header-menu-active-text: #ffffff;
$header-menu-active: #007299;

$subject-background: #00a2f6;
$subject-main-color: #ffffff;

$day-bet-main-text: #111d2f;

$forecast-title: #101113;
$forecast-sort: #09acaa;
$forecast-active: #23699b;
