.masonry__item {
  background-color: #f5f6f6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 22px;
  padding-bottom: 20px;
  width: 250px;
  text-decoration: none;
  transition: opacity .3s ease;

  @include mobile {
    margin-bottom: 10px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.masonry__img-wrapper {
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 250px;
}

.masonry__img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: auto;
  width: 100%;
}

.masonry__caption {
  @include nova-semibold;
  color: #5b5c5d;
  font-size: 14px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 10px;
}

.masonry__date {
  @include nova-regular;
  color: #5b5c5d;
  font-size: 13px;
  padding-left: 18px;
  padding-right: 18px;
}

.masonry__text {
  @include nova-regular;
  font-size: 14px;
  color: #5b5c5d;
  margin-bottom: 10px;
  text-align: left;
  padding: 0 18px;
  line-height: 20px;
}
