.toggle {
  color: inherit;
  text-decoration: none;
}

.accordion p {
  font-size: 1.1em;
  margin: 1em 0;
  text-align: left;
}

.accordion {
  list-style: none;
  padding: 0;
  width: 100%;

  .inner {
    display: none;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;

    &.show {
      /*display: block;*/
    }
  }

  li {
    list-style: none;

    a.toggle {
      align-items: center;
      background: #ffffff;
      border-top: 1px solid #c0c0c0;
      box-sizing: border-box;
      color: #5b5c5d;
      display: flex;
      font-size: 14px;
      justify-content: flex-start;
      padding: 0 20px;
      min-height: 55px;
      text-align: left;
      transition: background .3s ease;
      @include nova-bold;
      width: 100%;

      &:hover {
        background-color: #cef4fc;
      }

      &--active {
        background-color: #f0f0f0;
      }

    }
  }
}

.plus {
  margin-left: auto;
}

.minus {
  margin-left: auto;
}

.hide-icon {
  display: none;
}

.inner p {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 14px;
}

.accordion__item {
  background-color: #f0f0f0;
  box-sizing: border-box;
}
