.container {
  align-items: center;
  background: #111d2f url("../image/background.svg") no-repeat top;
  display: flex;
  flex-direction: column;
}

.country,
.recommendation,
.school {
  background: $sideblock;
  min-height: 465px;
  width: 290px;
}

.league__list {
  list-style: none;
}

.country__list {
  list-style: none;
}

.recommendation__list {
  list-style: none;
}

.day-bet--endgame {
  display: none;
  width: 290px;

  @include tablet {
    display: flex;
  }

  @include mobile {
    display: flex;
  }
}

.mobile-day-bet {
  display: none;

  @include mobile {
    display: block;
  }

  & .day-bet {
    display: flex;
  }
}

.more {
  align-items: center;
  background-color: #34455b;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 41px;
  min-height: 44px;
  width: 150px;
  line-height: 44px;
  transition: opacity 0.3s ease;
  font-size: 14px;
  @include nova-bold;

  &:hover {
    opacity: 0.6;
  }

  @include mobile {
    margin-bottom: 8px;
    margin-top: 20px;
  }
}

.more--gray {
  background-color: #dfe0e1;
  color: #5b5c5d;
}

.main__more {
  align-items: center;
  background-color: #34455b;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 41px;
  min-height: 44px;
  width: 150px;
  line-height: 44px;
  transition: opacity 0.3s ease;
  font-size: 14px;
  @include nova-bold;

  &:hover {
    opacity: 0.6;
  }

  @include mobile {
    margin-bottom: 8px;
    margin-top: 20px;
  }

  @include tablet {
    margin-bottom: 40px;
  }
}

.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
  text-align: center;
  width: calc(100% - 14px);

  @include mobile {
    background: none;
    margin-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 290px;
  }
}

.main--full-width {
  @include tablet {
    width: 100%;
  }
}

.main__show-filter {
  display: none;
  cursor: pointer;
  color: #0098e6;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: #d4e8f9;
  margin-bottom: 12px;

  @include mobile {
    display: inline-block;
  }

  &:hover {
    opacity: 0.6;
  }
}

.main__note {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 13px;
}

.main__header {
  background: #565f68 url("../image/532484_biola_dnepr_1920x1080_(www.GetBg.net)@2x.jpg") top no-repeat;
  background-size: cover;
  box-sizing: border-box;
  min-height: 300px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  width: 100%;

  @include tablet {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main__header--review {
  @include tablet {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main__header--endgame {
  //padding-bottom: 40px;
  background: #565f68 url("../image/Layer-1052@2x.jpg") center no-repeat;
  background-size: cover;

  @include desktop {
    padding-bottom: 10px;
  }

  @include tablet {
    padding-bottom: 10px;
  }
}

.main__header--article {
  background: #565f68 url("../image/article@2x.jpg") top no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 465px;

  @include desktop {
    padding-bottom: 50px;
  }

  @include tablet {
    padding-bottom: 50px;
  }

  @include mobile {
    min-height: 300px;
  }
}

.main__bookmaker-logo {
  margin-right: 11px;

  @include tablet {
    margin-bottom: 5px;
  }

  @include mobile {
    margin-bottom: 5px;
  }
}

.main__rating-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-bottom: 38px;
  width: 100%;

  @include desktop {
    width: auto;
    order: -2;
  }

  @include tablet {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    width: auto;
  }

  @include mobile {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    width: auto;
  }
}

.main__rating-wrapper--review {
  @include tablet {
    align-items: center;
    flex-direction: row;
    margin-bottom: 38px;
  }
}

.main--school {
  @include tablet {
    margin-bottom: 0;
  }

  @include mobile {
    margin-bottom: 0;
  }
}

.main__header-cover {
  display: flex;
  flex-wrap: wrap;
  margin-top: 143px;
  position: relative;
  z-index: 1;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

.main__header-cover--review {
  @include tablet {
    flex-direction: row;
  }
}

.main__header-cover--endgame {
  margin-top: 80px;
}

.main__header::after {
  background: -moz-linear-gradient(top, rgba(122, 122, 122, 0.29) 0%, rgba(122, 122, 122, 0.4) 9%, rgba(117, 118, 119, 0.52) 19%, rgba(106, 110, 114, 0.64) 29%, rgba(106, 110, 114, 0.78) 41%, rgba(65, 78, 93, 0.95) 56%, rgba(59, 74, 90, 1) 60%, rgba(40, 59, 80, 1) 73%, rgba(25, 47, 73, 1) 86%, rgba(18, 42, 69, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(122, 122, 122, 0.29) 0%, rgba(122, 122, 122, 0.4) 9%, rgba(117, 118, 119, 0.52) 19%, rgba(106, 110, 114, 0.64) 29%, rgba(106, 110, 114, 0.78) 41%, rgba(65, 78, 93, 0.95) 56%, rgba(59, 74, 90, 1) 60%, rgba(40, 59, 80, 1) 73%, rgba(25, 47, 73, 1) 86%, rgba(18, 42, 69, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(122, 122, 122, 0.29) 0%, rgba(122, 122, 122, 0.4) 9%, rgba(117, 118, 119, 0.52) 19%, rgba(106, 110, 114, 0.64) 29%, rgba(106, 110, 114, 0.78) 41%, rgba(65, 78, 93, 0.95) 56%, rgba(59, 74, 90, 1) 60%, rgba(40, 59, 80, 1) 73%, rgba(25, 47, 73, 1) 86%, rgba(18, 42, 69, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a7a7a7a', endColorstr='#122a45', GradientType=0); /* IE6-9 */
  height: 100%;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a7a7a+0,7a7a7a+9,757677+19,6a6e72+29,6a6e72+41,414e5d+56,283b50+73,192f49+86,122a45+100&0.29+0,0.91+0,1+60,1+100 */
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.button-cover {
  border: 1px solid rgba(0, 180, 243, 1);
  border-radius: 3px;
  box-sizing: border-box;
  max-height: 38px;
}

.button {
  background: rgba(0, 180, 243, 0.2);
  box-sizing: border-box;
  color: #ffffff;
  @include nova-regular;
  font-size: 14px;
  margin: 0;
  max-height: 38px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background .3s ease;

  &--active {
    background: rgba(0, 180, 243, 1);
  }

  &:hover {
    background: #151e2a;
  }
}

.main__bonus-text {
  @include nova-regular;
  color: #ffffff;
  font-size: 14px;
  margin-right: 15px;
  text-align: left;
}

.main__bonus-amount {
  color: #ffffff;
  @include nova-regular;
  font-size: 36px;
}

.main__bet {
  //border: 1px solid rgba(0, 180, 243, 1);
  border-radius: 3px;

  @include desktop {
    margin-left: auto;
  }

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.main__bet--review {
  @include tablet {
    display: block;
    margin-left: auto;
    order: 3;
  }
}

.main__reference-cover {
  display: flex;

  @include tablet {
    align-self: center;
    width: 100%;
    order: 1;
  }

  @include mobile {
    align-self: center;
    width: 100%;
    order: 1;
  }
}

.main__reference-cover--review {
  @include tablet {
    width: 250px;
  }
}

.main__description,
.main__reviews {
  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}

.main__background {
  background: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  padding: 0 40px;
  padding-top: 30px;
  width: 100%;

  @include tablet {
    padding: 0 20px;
    padding-top: 30px;
  }

  @include mobile {
    padding: 0 20px;
    padding-top: 30px;
  }

  &--no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &--overview-bkm {
    @include desktop {
      padding: 0 30px;
      padding-top: 30px;
    }

    @include tablet {
      padding-left: 0;
      padding-right: 0;
    }

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--review {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    @include tablet {
      padding-left: 30px;
    }

    @include mobile {
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &--endgame {
    background: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    //@include desktop {
    //  padding-left: 30px;
    //  padding-right: 30px;
    //}
    //
    //@include tablet {
    //  background: none;
    //  padding-left: 0;
    //  padding-right: 0;
    //  padding-top: 0;
    //  padding-bottom: 0;
    //}
    //
    //@include mobile {
    //  padding-left: 20px;
    //  padding-right: 20px;
    //}
  }
}

.main__bonus-cover {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: 25px;

  @include desktop {
    align-items: flex-start;
    margin-right: 0;
    order: -1;
  }

  @include tablet {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  @include mobile {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

.main__title {
  color: #101113;
  display: block;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: uppercase;

  &--faq {
    margin-left: 40px;
  }
}

.main__title--bookmaker {
  text-align: left;

  @include desktop {
    text-align: center;
  }
  @include tablet {
    text-align: center;
  }
  @include mobile {
    text-align: center;
  }
}

.main__title--match-predict {
  margin-bottom: 7px;
}

.main__title--review {
  text-align: left;
}

.main__title--bold {
  text-transform: none;
  font-size: 15px;
}

.main__title--article {
  @include mobile {
    width: 200px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 12px;
  }
}

.main__text {
  @include nova-regular;
  color: #32383e;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: left;
}

.main__text--overview-bkm {
  @include tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main__table {
  border-collapse: collapse;
  width: 100%;
}

.main__line {
  border-bottom: 1px solid #dddddd;

  &:first-child {
    color: #5b5c5d;
    @include nova-regular;
    font-size: 14px;
    font-weight: 400;
  }

  &:last-child {
    border-bottom: none;
  }
}

.main__line:first-child .main__cell {
  height: 20px;
  padding-bottom: 10px;
}

.main__line .main__cell {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 15px;
  height: 70px;
  vertical-align: middle;

  &--safety {
    font-size: 14px;
  }

  &--bonus {
    color: #00b4f3;
    @include nova-bold;
    font-size: 16px;
  }

  &--number {
    @include open-sans-exbold;
    font-size: 15px;
    text-align: right;
  }

  &--button {
    text-align: right;
  }

  &:nth-child(6) {
    @include desktop {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
}

.main__button {
  background-color: #00b4f3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  padding: 12px;
  text-decoration: none;
  transition: background .3s ease;

  &:hover {
    background: #151e2a;
  }

  &:active {
    background: $forecast-active;
  }
}

.main__rating {
  @include desktop {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }

  &--bookmaker {
    @include desktop {
      display: block;
    }

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }
}

.main__star {
  display: none;

  @include desktop {
    display: inline-block;
  }

  @include tablet {
    display: inline-block;
  }

  @include mobile {
    display: inline-block;
  }
}

.main__rating-count {
  display: none;

  @include desktop {
    display: inline-block;
  }

  @include tablet {
    display: inline-block;
  }

  @include mobile {
    display: inline-block;
  }
}

.main__link {
  color: #5b5c5d;
  text-decoration: underline;
  &:hover {
    text-decoration-color: #000000;
  }

  text-decoration-color: #dddede;
}

.overview-read-reviews {
  border-radius: 3px;
  color: #ffffff;
  @include nova-regular;
  display: block;
  font-size: 17px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 30px;
  min-height: 43px;
  text-decoration: none;
  width: 220px;
}

.main__teams {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include desktop {
    justify-content: center;
  }

  @include tablet {
    justify-content: center;
  }

  @include mobile {
    justify-content: center;
  }
}

.main__first-team {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 32px;
  @include nova-semibold;
  justify-content: flex-end;
  line-height: 33px;
  width: 320px;

  @include desktop {
    flex-direction: column-reverse;
    font-size: 26px;
    line-height: 32px;
    width: auto;
  }

  @include tablet {
    flex-direction: column-reverse;
    font-size: 26px;
    line-height: 32px;
    width: auto;
  }

  @include mobile {
    flex-direction: column-reverse;
    font-size: 15px;
    line-height: 16px;
    width: auto;
  }
}

.main__second-team {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  font-size: 32px;
  @include nova-semibold;
  justify-content: flex-end;
  line-height: 33px;
  width: 320px;

  @include desktop {
    flex-direction: column-reverse;
    font-size: 26px;
    line-height: 32px;
    width: auto;
  }

  @include tablet {
    flex-direction: column-reverse;
    font-size: 26px;
    line-height: 32px;
    width: auto;
  }

  @include mobile {
    flex-direction: column-reverse;
    font-size: 15px;
    line-height: 16px;
    width: auto;
  }
}

.main__first-name {
  margin-right: 20px;
  text-align: right;

  @include desktop {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 0;
    text-align: center;
  }

  @include tablet {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 0;
    text-align: center;
  }

  @include mobile {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    text-align: center;
  }
}

.main__second-name {
  margin-left: 20px;
  text-align: left;

  @include desktop {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 0;
    text-align: center;
  }

  @include tablet {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: 0;
    text-align: center;
  }

  @include mobile {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0;
    text-align: center;
  }
}

.main__score {
  @include nova-regular;
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 48px;
  justify-content: center;

  @include desktop {
    align-items: flex-end;
    font-size: 39px;
    min-width: 145px;
  }

  @include tablet {
    align-items: flex-end;
    font-size: 39px;
    min-width: 145px;
  }

  @include mobile {
    align-items: center;
    font-size: 28px;
    min-width: 70px;
  }
}

.main__img-wrapper {
  flex-shrink: 0;
  height: 80px;
  width: 80px;

  @include mobile {
    height: 46px;
    width: 46px;
  }
}

.main__img-wrapper--first {
  background: url("../image/mu.png") no-repeat center;
  background-size: contain;

}

.main__img-wrapper--second {
  background: url("../image/Layer-14@2x.png") no-repeat center;
  background-size: contain;
}

.main__coef {
  display: flex;
  height: 35px;

  @include desktop {
    margin-bottom: 10px;
  }

  @include tablet {
    margin-bottom: 10px;
  }

  @include mobile {
    margin-bottom: 5px;
  }
}

.main__coef:first-child {
  @include desktop {
    margin-right: 10px;
  }

  @include tablet {
    margin-right: 10px;
  }
}

.main__coef--draw {
  @include desktop {
    order: 1;
  }

  @include tablet {
    order: 1;
  }
}

.main__coef-img-cover {
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 35px;
  justify-content: center;
  overflow: hidden;
  padding: 0 6px;
  width: 57px;
}

.main__coef-team-cover {
  align-items: center;
  background-color: #344050;
  border-bottom-right-radius: 3px;
  @include nova-regular;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 13px;
  min-width: 200px;
  padding: 0 10px;

  @include desktop {
    font-size: 12px;
    min-width: 170px;
  }

  @include tablet {
    font-size: 12px;
    min-width: 170px;
  }

  @include mobile {
    font-size: 11px;
    min-width: 170px;
    width: 100%;
  }
}

.main__coef-number {
  font-size: 14px;
  margin-left: auto;

  @include desktop {
    font-size: 12px;
  }

  @include tablet {
    font-size: 12px;
  }

  @include mobile {
    font-size: 11px;
  }
}

.main__rate {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;

  @include desktop {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include mobile {
    flex-direction: column;
  }
}

.main__section {
  background-color: #ffffff;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;

  @include desktop {
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  @include tablet {
    margin-bottom: 12px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }

  @include mobile {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main__section--article:not(:last-child) {
  padding-bottom: 0;

  @include tablet {
    padding-bottom: 30px;
  }

  @include mobile {
    padding-bottom: 30px;
  }
}

.main__section--last {
  padding-bottom: 70px;

  @include desktop {
    padding-bottom: 40px;
  }
  @include tablet {
    padding-bottom: 40px;
  }
  @include mobile {
    padding-bottom: 40px;
  }
}

.main__section--masonry-cover:first-child {
  padding-bottom: 0;
}

.main__section--masonry-cover:last-child {
  padding-top: 0;

  @include tablet {
    padding-top: 30px;
  }

  @include mobile {
    padding-top: 30px;
  }
}
.main__banner-section {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.main__title-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  z-index: 2;
}

.main__caption {
  @include nova-bold;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include mobile {
    font-size: 17px;
  }
}

.main__date {
  @include nova-regular;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}

.main__article {
  color: #5b5c5d;
  font-size: 14px;
  @include nova-regular;
  line-height: 25px;
  margin-bottom: 30px;
  text-align: left;
}

.main__list {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 14px;
  line-height: 36px;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 5px;
  text-align: left;
}

.main__list-count {
  color: #00b4f3;
  list-style: decimal;
  margin-left: 15px;
}

.main__list-item:before {
  color: #00b4f3;
  content: "—";
  left: -5px;
  position: relative;
}

.main__item-count span {
  color: #5b5c5d;
}

.main__article--last {
  margin-bottom: 0;
}

.main__title-h3 {
  @include nova-regular;
  color: #111d2f;
}

.main__title-h4 {
  @include nova-semibold;
  color: #111d2f;
  font-size: 15px;
}

.main__article-img-wrapper {
  background-color: #0b101e;
  display: block;
  height: 425px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;

  @include desktop {
    height: 360px;
  }

  @include tablet {
    height: 360px;
  }

  @include mobile {
    height: 155px;
    width: 230px;
  }
}

.main__article-img {
  height: auto;
  width: 100%;
}

.main__article-img-text {
  color: rgba(91, 92, 93, 0.7);
  display: block;
  margin-bottom: 30px;
  font-size: 13px;
}

.main__quote {
  border-bottom: 1px solid #e1e1e2;
  border-top: 1px solid #e1e1e2;
  display: flex;
  flex-direction: column;
  font-style: italic;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-top: 40px;
  position: relative;
  margin-top: 40px;

  @include mobile {
    border-bottom: 0;
  }
}

.main__quote::before {
  background: url("../image/quote.svg");
  content: '';
  height: 14px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 22px;
}

.main__quote-author {
  color: #101113;
  display: block;
  font-size: 15px;
  @include nova-semibold;
  font-style: normal;
  margin-left: auto;

  @include mobile {
    margin-left: 0;
    text-align: left;
  }
}

.main__quote-post {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 14px;
  margin-left: 10px;
}

.main__article--quote {
  margin-bottom: 15px;
}

.content__left-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content__center-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content__right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}