.team-hist {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;

  @include mobile {
    background: none;
    margin-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.team-hist__section {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mobile {
    padding-top: 15px;
  }
}

.team-hist__section:first-child {
  @include tablet {
    margin-top: 50px;
  }
}

.team-hist__title {
  @include nova-bold;
  color: $forecast-title;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.team-hist__sort {
  color: $forecast-sort;

  @include mobile {
    display: block;
  }
}

.team-hist__caption {
  color: #5b5c5d;
  font-size: 14px;
  @include nova-regular;
}

.team-hist__caption-wrapper {
  align-items: center;
  display: flex;
}

.team-hist__time-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 85px;

  @include mobile {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    left: 71px;
    min-width: 110px;
    position: absolute;
    top: 20px;
  }
}

.team-hist__time {
  color: #000000;
  @include nova-regular;
  font-size: 15px;
  line-height: 15px;

  //@include tablet {
  //  font-size: 13px;
  //}

  @include mobile {
    font-size: 13px;
  }
}

.team-hist__date {
  color: #999999;
  @include nova-regular;
  font-size: 13px;
  line-height: 15px;

  @include mobile {
    margin-right: 3px;
  }
}

.team-hist__league-img {
  background: url("../image/premier.png") no-repeat;
  background-size: contain;
  height: 26px;
  margin-right: 10px;
  width: 21px;
}

.team-hist__item {
  border-bottom: 1px solid #dddddd;
  display: flex;
  min-width: 100%;
  padding-bottom: 15px;
  padding-top: 13px;

  &--last {
    border-bottom: none;
    margin-bottom: 25px;
  }

  @include mobile {
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 0;
    padding-bottom: 15px;
    position: relative;
    width: 250px;
  }
}

.team-hist__ratio-link {
  align-items: center;
  background: #00c6f0;
  border-radius: 3px;
  @include nova-bold;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: 900;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  width: 70px;

  &:hover {
    background: #151e2a;
  }

  @include tablet {
    width: 67px;
  }

  @include mobile {
    width: 67px;
  }
}

.team-hist__ratio {
  margin-left: auto;

  @include mobile {
    left: 94px;
    position: absolute;
    top: 41px;
  }
}

.team-hist__first-team-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 270px;

  @include desktop {
    width: 160px;
  }

  @include tablet {
    width: 160px;
  }

  @include mobile {
    flex-direction: column-reverse;
    margin-right: 0;
    width: 80px;
  }
}

.team-hist__second-team-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  @include mobile {
    flex-direction: column;
    width: 80px;
  }
}

.team-hist__first-team {
  color: #5b5c5d;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 14px;
  height: 100%;
  justify-content: center;
  max-width: 180px;
  @include nova-regular;
  text-align: right;
  width: 100%;

  @include desktop {
    max-width: 100px;
  }

  @include tablet {
    max-width: 100px;
  }

  @include mobile {
    flex-grow: 1;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    text-align: center;
  }
}

.team-hist__second-team {
  color: #5b5c5d;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 14px;
  height: 100%;
  justify-content: center;
  max-width: 180px;
  @include nova-regular;
  text-align: left;
  width: 100%;

  @include desktop {
    max-width: 100px;
  }

  @include tablet {
    max-width: 100px;
  }

  @include mobile {
    flex-grow: 1;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    text-align: center;
  }
}

.team-hist__first-team-img {
  height: 36px;
  margin-left: 15px;

  @include mobile {
    margin-left: 0;
  }
}

.team-hist__second-team-img {
  height: 36px;
  margin-left: 15px;

  @include mobile {
    margin-left: 0;
  }
}

.team-hist__img-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 0;
  min-width: 65px;
  width: 65px;

  @include mobile {
    flex-shrink: 0;
    height: 35px;
    justify-content: center;
    margin-bottom: 5px;
    min-width: auto;
    width: 100%;
  }
}

.team-hist__full-date {
  color: #5b5c5d;

  @include mobile {
    font-size: 12px;
  }
}

.team-hist__score {
  display: flex;
  min-width: 60px;
  @include nova-bold;
  font-size: 13px;
  color: #101113;
  align-items: center;
  justify-content: center;

  @include mobile {
    font-size: 16px;
    width: 30px;
  }
}
