.review {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.review__caption {
  @include nova-regular;
  color: #32383e;
  display: block;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: left;
}

.review__input {
  border: 1px solid #d7d7d7;
  color: #000000;
  font-size: 13px;
  height: 95px;
  line-height: 17px;
  max-width: 609px;
  @include nova-regular;
  min-height: 95px;
  min-width: 609px;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;

  @include desktop {
    max-width: 325px;
    min-width: 325px;
  }

  @include tablet {
    max-width: 325px;
    min-width: 325px;
  }

  @include mobile {
    max-width: 100%;
    min-width: 100%;
  }
}

.review__separator {
  background-color: #d7d7d7;
  height: 142px;
  margin-left: 17px;
  margin-right: 17px;
  width: 2px;

  @include mobile {
    display: none;
  }
}

.review__rating {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @include mobile {
    margin-left: 0;
  }
}

.review__rating-wrapper {
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: row;
    margin-top: 5px;
  }
}

.review__rating-caption {
  @include nova-regular;
  color: #32383e;
  display: block;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: left;
}

.review__stars {
  margin-bottom: 35px;
  @include mobile {
    margin-bottom: 25px;
    margin-left: 15px;
  }
}

.review__post {
  border-radius: 3px;
  min-width: 150px;
  @include mobile {
    align-self: center;
  }
}
