.log {
  list-style: none;
  margin-bottom: 55px;
}

.log__icon {
  @include mobile {
    width: 13px;
    height: 13px;
  }
}

.log__item {
  display: flex;
  border-bottom: 1px solid #dddddd;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-top: 10px;
  cursor: pointer;
  transition: background .3s ease;

  @include mobile {
    padding-left: 0;
  }

  &:hover {
    background-color: #ebf8ff;
  }

  &:last-child {
    border-bottom: none;
  }
}

.log__item--second-team {
  flex-direction: row-reverse;
  padding-left: 0;
  padding-right: 12px;

  @include mobile {
    padding-right: 0;
  }

  .log__team-logo {
    margin-left: 10px;

    @include mobile {
      margin-right: 2px;
      margin-left: 3px;
    }
  }

  .log__time {
    margin-right: 0;
    margin-left: 20px;

    @include desktop {
      margin-left: 0;
    }

    @include tablet {
      margin-left: 0;
    }

    @include mobile {
      margin-left: 0;
      margin-right: 1px;
      margin-left: 1px;
    }
  }

  .log__icon {
    margin-right: 0;
  }

  .log__event {
    margin: 0;
  }

  .log__text {
    @include desktop {
      font-size: 12px;
      width: 177px;
      text-align: right;
      margin-right: 0;
    }

    @include tablet {
      font-size: 12px;
      width: 177px;
      text-align: right;
      margin-right: 0;
    }

    @include mobile {
      width: 84px;
      font-size: 10px;
      text-align: right;
    }

  }
}

.log__time {
  font-size: 13px;
  @include nova-regular;
  color: #32383e;
  margin-right: 20px;

  @include desktop {
    order: 1;
    margin-right: 0;
  }

  @include tablet {
    order: 1;
    margin-right: 0;
  }

  @include mobile {
    order: 1;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 12px;

  }
}

.log__event {
  margin-right: 10px;
  display: flex;

  @include mobile {
    margin-right: 2px;
  }
}



.log__text {
  font-size: 13px;
  @include nova-regular;
  color: #32383e;

  @include desktop {
    font-size: 12px;
    width: 177px;
    text-align: left;
    margin-right: 20px;
  }

  @include tablet {
    font-size: 12px;
    width: 177px;
    text-align: left;
    margin-right: 20px;
  }

  @include mobile {
    font-size: 10px;
    text-align: left;
    width: 84px;
  }
}

.log__team-logo {
  width: 22px;
  height: 22px;
  background: url("../image/mu.png") no-repeat center;
  background-size: contain;
  margin-right: 10px;

  @include mobile {
    margin-right: 3px;
    width: 14px;
    height: 14px;
  }
}

.log__team-logo--second-team {
  background: url("../image/Layer-14@2x.png") no-repeat center;
  background-size: contain;
}

.log__action {
  @include mobile {
    display: none;
  }
}
