<div class="league content__item-a">
  <span class="league__title">Популярные лиги</span>
  <ul class="league__list">
    <li class="league__item league__item--premier">
      <a href="#" class="league__link">
        <span class="league__text">Премьер-лига</span>
        <span class="league__value">39</span>
      </a>
    </li>
    <li class="league__item league__item--league1">
      <a href="#" class="league__link">
        <span class="league__text">Лига 1</span>
        <span class="league__value">5</span>
      </a>
    </li>
    <li class="league__item league__item--bunders">
      <a href="#" class="league__link">
        <span class="league__text">Бундеслига</span>
        <span class="league__value">13</span>
      </a>
    </li>
    <li class="league__item league__item--australian">
      <a href="#" class="league__link">
        <span class="league__text">Australian open</span>
        <span class="league__value">21</span>
      </a>
    </li>
    <li class="league__item league__item--champions">
      <a href="#" class="league__link">
        <span class="league__text">Лига Чемпионов</span>
        <span class="league__value">8</span>
      </a>
    </li>
    <li class="league__item league__item--la-league">
      <a href="#" class="league__link">
        <span class="league__text">Ла Лига</span>
        <span class="league__value">4</span>
      </a>
    </li>
    <li class="league__item league__item--premier">
      <a href="#" class="league__link">
        <span class="league__text">Премьер-лига</span>
        <span class="league__value">39</span>
      </a>
    </li>
  </ul>
</div>
