.league {
  align-items: center;
  background-color: $sideblock;
  color: $sideblock-title;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  min-height: 465px;
  overflow: hidden;
  position: relative;
  width: 290px;
  border-radius: 3px;

  &:after {
    background: url("../image/idk@2x.png") no-repeat;
    background-size: contain;
    content: '';
    height: 32px;
    opacity: 0.25;
    position: absolute;
    right: -45px;
    top: 28px;
    width: 103px;
  }
}

.league__item {
  border-radius: 3px;
  position: relative;
  transition: background .3s ease;

  &--premier::before {
    background: url("../image/premier_transparency.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    opacity: 0.6;
    position: absolute;
    top: 5px;
    width: 30px;
  }

  &--league1::before {
    background: url("../image/league-france.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  &--bunders::before {
    background: url("../image/Layer-13.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  &--australian::before {
    background: url("../image/Australian_Open_Logo_2017.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  &--champions::before {
    background: url("../image/Layer-725-small.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  &--la-league::before {
    background: url("../image/Layer-582.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    width: 30px;
  }

  &:hover {
    background-color: $sideblock-hover;
    transition: background .3s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover .league__link {
    color: $sideblock-text-active;
  }
}

.league__title {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 35px;
  text-transform: uppercase;

  @include nova-bold;
}

.league__link {
  color: $sideblock-text;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  min-width: 260px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  text-decoration: none;

  @include nova-regular;
}

.league__text {
  padding-left: 63px;
}

.league__value {
  color: $sideblock-value;
  padding-right: 25px;
}

