.country {
  align-items: center;
  background: $sideblock;
  color: $sideblock-title;
  display: flex;
  flex-direction: column;
  min-height: 465px;
  width: 290px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;

  &:after {
    background: url("../image/idk@2x.png") no-repeat;
    background-size: contain;
    content: '';
    height: 32px;
    opacity: 0.25;
    position: absolute;
    right: -45px;
    top: 28px;
    width: 103px;
  }
}

.country__item {
  border-radius: 3px;
  position: relative;
  transition: background .3s ease;

  &--england::before {
    background: url("../image/england.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &--russia::before {
    background: url("../image/russia.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &--germany::before {
    background: url("../image/germany.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &--italy::before {
    background: url("../image/italy.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &--france::before {
    background: url("../image/france.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &--brazil::before {
    background: url("../image/brazil.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &--australia::before {
    background: url("../image/australia.png") no-repeat;
    background-size: contain;
    content: "";
    height: 40px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 30px;
    opacity: 0.6;
  }

  &:hover {
    background-color: $sideblock-hover;
    transition: background .3s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover .league__link {
    color: $sideblock-text-active;
  }
}

.country__title {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 35px;
  text-transform: uppercase;

  @include nova-bold;
}

.country__link {
  color: $sideblock-text;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  min-width: 260px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  text-decoration: none;

  @include nova-regular;
}

.country__text {
  padding-left: 63px;
}

.country__value {
  color: $sideblock-value;
  padding-right: 25px;
}

