<div class="country content__item-b">
  <span class="country__title">Страны</span>
  <ul class="country__list">
    <li class="country__item country__item--england">
      <a href="#" class="country__link">
        <span class="country__text">Англия</span>
        <span class="country__value">39</span>
      </a>
    </li>
    <li class="country__item country__item--russia">
      <a href="#" class="country__link">
        <span class="country__text">Россия</span>
        <span class="country__value">5</span>
      </a>
    </li>
    <li class="country__item country__item--germany">
      <a href="#" class="country__link">
        <span class="country__text">Германия</span>
        <span class="country__value">13</span>
      </a>
    </li>
    <li class="country__item  country__item--italy">
      <a href="#" class="country__link">
        <span class="country__text">Италия</span>
        <span class="country__value">21</span>
      </a>
    </li>
    <li class="country__item country__item--france">
      <a href="#" class="country__link">
        <span class="country__text">Франция</span>
        <span class="country__value">8</span>
      </a>
    </li>
    <li class="country__item country__item--brazil">
      <a href="#" class="country__link">
        <span class="country__text">Бразилия</span>
        <span class="country__value">4</span>
      </a>
    </li>
    <li class="country__item country__item--australia">
      <a href="#" class="country__link">
        <span class="country__text">Австралия</span>
        <span class="country__value">39</span>
      </a>
    </li>
  </ul>
</div>
