.advantages {
  margin-bottom: 55px;
  margin-top: 20px;
}

.advantages__list {
  list-style: none;
  text-align: left;
}

.advantages__icon {
  display: flex;
  height: 18px;
  //left: 18px;
  //position: absolute;
  //top: 13px;
  width: 18px;
  padding-right: 15px;

  @include desktop {
    padding-right: 10px;
  }

  @include tablet {
    padding-right: 10px;
  }

  @include mobile {
    padding-right: 10px;
  }
}

.advantages__item {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  min-height: 45px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 14px;
  position: relative;
  transition: background .3s ease;

  &:hover {
    background: #cef4fc;
  }
}

.advantages__item:nth-child(2n-1) {
  background: #f0f0f0;

  &:hover {
    background: #cef4fc;
  }
}

.advantages__item:hover .advantages__svg {
  fill: #00b4f3;
}

.advantages__item:hover .advantages__icon {
  color: #00b4f3;
}

.advantages__item:hover .advantages__icon--pay {
  background: url("../image/pay-blue-icon@2x.png") no-repeat;
  background-size: contain;
}

.advantages__icon--pay {
  background: url("../image/pay-icon@2x.png") no-repeat;
  background-size: contain;
}

.advantages__icon--communications {
  @include open-sans-exbold;
  color: #949ea9;
  font-size: 9px;
  margin-top: 3px;
}

.advantages__caption {
  color: #32383e;
  @include nova-regular;
  font-size: 13px;

  @include desktop {
    max-width: 240px;
  }

  @include tablet {
    font-size: 12px;
  }

  @include mobile {
    font-size: 12px;
  }
}

.advantages__svg {
  fill: #a3acb6;
}

.advantages__languages {
  display: flex;
  margin-left: auto;
}

.advantages__language-icon {
  height: 21px;
  margin-right: 10px;
  width: 21px;

  &:last-child {
    margin: 0;
  }

  &--russian {
    background: url("../image/russia.png") no-repeat;
    background-size: contain;
  }

  &--england {
    background: url("../image/england.png") no-repeat;
    background-size: contain;
  }
}

.advantages__mark {
  display: flex;
  margin-left: auto;
}

.advantages__mark-icon {
  background: url("../image/Group-33@2x.png") no-repeat;
  background-size: contain;
  height: 23px;
  margin-left: 10px;
  width: 23px;
}

.advantages__currency-name {
  @include nova-bold;
  color: rgba(53, 60, 68, 0.5);
  font-size: 14px;
  margin-left: 5px;
}

.advantages__filling {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

.advantages__connection-item {
  @include nova-bold;
  color: rgba(53, 60, 68, 0.5);
  font-size: 14px;
}

.advantages__connection-svg {
  margin-left: 20px;
}

.advantages__item-extend {
  @include nova-bold;
  color: rgba(53, 60, 68, 0.5);
  font-size: 14px;

  @include tablet {
    font-size: 13px;
    text-align: right;
  }

  @include mobile {
    font-size: 13px;
    text-align: right;
  }
}

.advantages__item-cover {
  @include tablet {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.advantages__item-svg {
  margin-left: 20px;
  margin-right: 5px;
}

.advantages__unit-wrapper {
  align-items: center;
  display: flex;

  @include tablet {
    justify-content: space-between;
  }
}
