<div class="filter content__item-j">
  <span class="filter__title">Фильтр</span>
  <div class="filter__item">
    <span class="filter__item-text">Легальные</span>
    <input type="checkbox" class="filter__checkbox">
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Рейтинг надежности</span>
    <select class="filter__section">
      <option value="value1">Любой</option>
      <option value="value2">Любой</option>
      <option value="value3">Любой</option>
    </select>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Русский язык на сайте</span>
    <input type="checkbox" class="filter__checkbox">
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Поддержка на русском</span>
    <div class="filter__checkbox"></div>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Популярные валюты</span>
    <select class="filter__section">
      <option value="value1">RUB</option>
      <option value="value2">EUR</option>
      <option value="value3">USD</option>
    </select>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Ставки Live</span>
    <div class="filter__checkbox"></div>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">С бонусами</span>
    <div class="filter__checkbox"></div>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Для профессионалов</span>
    <div class="filter__checkbox"></div>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">С демо-счётом</span>
    <div class="filter__checkbox"></div>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Биржи ставок</span>
    <div class="filter__checkbox"></div>
  </div>
  <div class="filter__item">
    <span class="filter__item-text">Доступ с мобильного</span>
    <div class="filter__checkbox"></div>
  </div>
</div>
