.filter {
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding-left: 30px;
  padding-right: 35px;

  @include mobile {
    display: none;
  }
}

.filter--show {
  display: flex;
}

.filter__title {
  align-self: flex-start;
  color: $day-bet-main-text;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 35px;
  margin-top: 37px;
  @include nova-bold;
  text-transform: uppercase;
}

.filter__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 25px;
  width: 100%;

  &:last-child {
    margin-bottom: 60px;
  }
}

.filter__item-text {
  @include nova-regular;
  color: #32383e;
  font-size: 13px;
}
