.statistic__item {
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  width: 100%;
  transition: background .3s ease;

  @include mobile {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .statistic__fill--green {
    @include mobile {
      background-color: #1bab45;
    }
  }

  .statistic__fill--red {
    @include mobile {
      background-color: #eb3650;
    }
  }

  &:hover {
    background-color: #ebf8ff;
  }

  &:hover .statistic__fill--green {
    background-color: #1bab45;
    transition: background .3s ease;
  }

  &:hover .statistic__value--green {
    color: #1bab45;
    transition: background .3s ease;
  }

  &:hover .statistic__fill--red {
    background-color: #eb3650;
    transition: background .3s ease;
  }

  &:hover .statistic__value--red {
    color: #eb3650;
    transition: background .3s ease;
  }

}

.statistic__name {
  color: #5b5c5d;
  @include nova-regular;
  font-size: 13px;
  width: 167px;

  @include mobile {
    font-size: 12px;
    order: 2;
  }
}

.statistic__value {
  color: #5b5c5d;
  @include nova-bold;
  font-size: 13px;
  width: 60px;

  @include desktop {
    width: 40px;
  }

  @include tablet {
    width: 40px;
  }

  @include mobile {
    width: 40px;
    font-size: 12px;
  }
}

.statistic__value--first {
  text-align: left;

  @include mobile {
    order: 1;
  }
}

.statistic__value--second {
  text-align: right;

  @include mobile {
    order: 3;
  }
}

.statistic__scale {
  background: #e5e5e5;
  border-radius: 3px;
  display: flex;
  height: 4px;
  justify-content: flex-end;
  width: 200px;
  overflow: hidden;

  @include desktop {
    width: 140px;
  }

  @include tablet {
    width: 140px;
  }

  @include mobile {
    width: 125px;
  }
}

.statistic__scale--second {
  justify-content: flex-start;
}

.statistic__fill {
  border-radius: 3px;
}

.statistic__fill--blue {
  background-color: #00b4f3;
}

//.statistic__fill--green,
//.statistic__value--green {
//  &:hover {
//    background-color: #1bab45;
//  }
//
//}

//.statistic__fill--red,
//.statistic__value--red {
//  background-color: #eb3650;
//}

.statistic__scale--first {
  @include mobile {
    order: 4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.statistic__scale--second {
  @include mobile {
    order: 5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


.statistic__item--ball-control {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 130px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;

    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--shoot-mouth {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 118px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--shoot-miss {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--shoot-save {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--corner{
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--foul {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--penalty {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--offside {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--out {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.statistic__item--goal-kick {
  .statistic__scale--first .statistic__fill {
    height: 4px;
    width: 138px;
    @include mobile {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .statistic__scale--second .statistic__fill {
    height: 4px;
    width: 68px;
    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
