<footer class="footer">
  <div class="footer__content-wrapper">
    <img class="footer__logo-image" src="image/logo-footer@2x.png" alt="betpro365" class="footer__logo" width="156" height="35">
    <div class="footer__info-cover">
      <div class="footer__list-wrapper">
        <ul class="footer__list">
          <li class="footer__title"><a href="#" class="footer__title-link">Прогнозы на спорт</a></li>
          <li class="footer__item">
            <a href="#" class="footer__link">Футбол <span class="footer__count">54</span></a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Хоккей <span class="footer__count">23</span></a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Баскетбол <span class="footer__count">19</span></a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Теннис <span class="footer__count">4</span></a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__title"><a href="#" class="footer__title-link">Школа ставок</a></li>
          <li class="footer__item">
            <a href="#" class="footer__link">Ставки на спорт</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Стратегии ставок</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Терминология</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__title"><a href="#" class="footer__title-link">Букмекеры</a></li>
          <li class="footer__item">
            <a href="#" class="footer__link">С бонусами</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Легальные</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Мобильные</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__title"><a href="#" class="footer__title-link">Контакты</a></li>
          <li class="footer__title"><a href="#" class="footer__title-link">Политика<br class="footer__confidential-br"> конфиденциальности</a></li>
        </ul>
      </div>
      <div class="footer__download-wrapper">
        <a href="https://www.appstore.com/" target="_blank" class="footer__image-link">
          <img src="image/dl_appstore@2x.png" alt="Скачайте с AppStore" class="footer__download-appstore" width="147" height="47">
        </a>
        <a href="https://play.google.com/store" target="_blank" class="footer__image-link">
          <img src="image/dl_googleplay@2x.png" alt="Скачайте с GooglePlay" class="footer__download-googleplay" width="141" height="41">
        </a>
      </div>
    </div>
    <div class="footer__separator"></div>
    <div class="footer__registration-wrapper">
      <p class="footer__registration">
        Сетевое издание “Стратегии ставок” зарегистрировано в Федеральной службе по надзору в сфере связи, информационных
        технологий и массовых коммуникаций (Роскомнадзор) 1 января 2018 года.<br class="footer__desktop-br">
        Свидетельство о регистрации ЭЛ № ФС12-34567
      </p>
      <div class="footer__copyright-wrapper">
        <span class="footer__copyright">© 2018 betpro365</span>
        <span class="footer__age">18+</span>
      </div>
    </div>
  </div>
</footer>
