.footer {
  background: $footer-color;
  width: 100%;
  margin-top: 50px;
}

.footer__list-wrapper {
  display: flex;
  justify-content: space-between;
  width: 765px;

  @include desktop {
    width: 710px;
  }

  @include tablet {
    width: auto;
  }

  @include mobile {
    width: 290px;
    display: grid;
    grid-template-columns: 145px 145px;
  }
}

.footer__list {
  list-style: none;
}

.footer__title {
  color: $title-light-color;
  font-size: 13px;
  @include nova-regular;
}

.footer__link {
  color: $footer-list-color;
  font-size: 13px;
  text-decoration: none;
  @include nova-regular;

  &:hover {
    opacity: 0.6;
  }
}

.footer__title-link {
  color: $title-light-color;
  font-size: 13px;
  text-decoration: none;
  @include nova-regular;

  &:hover {
    opacity: 0.6;
  }
}

.footer__count {
  color: $footer-count-color;
  font-size: 13px;
  margin-left: 12px;
  @include nova-regular;
}

.footer__download-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;

  @include tablet {
    margin-left: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 33px;
  }

  @include mobile {
    margin-left: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
}

.footer__image-link {
  font-size: 0;
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 0;
    margin-right: 10px;
  }

  @include mobile {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.footer__download-appstore {
  cursor: pointer;
}

.footer__download-googleplay {
  cursor: pointer;
}

.footer__info-cover {
  display: flex;
  margin: 0 auto;
  min-height: 160px;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

.footer__separator {
  background-color: #252e41;
  height: 1px;
  margin-bottom: 30px;
  width: 100%;
}

.footer__registration {
  color: $footer-reg-color;
  font-size: 13px;
  line-height: 18px;
  width: 780px;
  @include nova-regular;

  @include tablet {
    width: auto;
  }

  @include mobile {
    width: auto;
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.footer__content-wrapper {
  margin: 0 auto;
  width: $max-content-width;

  @include desktop {
    width: 900px;
  }

  @include tablet {
    width: 595px;
  }

  @include mobile {
    width: 290px;
  }
}

.footer__title,
.footer__item {
  margin-bottom: 13px;
}

.footer__item:last-child {
  margin-bottom: 25px;
}

.footer__copyright {
  color: $footer-reg-color;
  font-size: 13px;
  @include nova-regular;
}

.footer__age {
  color: $footer-age-color;
  font-size: 29px;
  @include nova-regular;
}

.footer__registration-wrapper {
  display: flex;
  margin-bottom: 80px;

  @include tablet {
    flex-direction: column;
    margin-bottom: 35px;
  }

  @include mobile {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.footer__copyright-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: uppercase;
}

.footer__logo-image {
  margin-top: 45px;
  margin-bottom: 35px;
}

.footer__confidential-br {
  display: none;

  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }
}

.footer__desktop-br {
  @include tablet {
    display: none;
  }
}
