.standings {
  margin-bottom: 65px;

  @include mobile {
    overflow-x: scroll;
  }
}

.standings--no-b-margin {
  @include tablet {
    margin-bottom: 0;
  }
  @include mobile {
    margin-bottom: 0;
  }
}

.standings__row {
  border-top: 1px solid #dddddd;

  &:hover {
    background-color: #ebf8ff;
  }
  &:hover .standings__item {
    color: #0b101e;
  }
}

.standings__item {
  color: #5b5c5d;
  font-size: 14px;
  height: 52px;
  @include nova-regular;

  @include desktop {
    font-size: 13px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include mobile {
    font-size: 13px;
  }

  &--number {
    text-align: right;
    width: 24px;

    @include desktop {
      width: 17px;
    }

    @include tablet {
      width: 17px;
    }

    @include mobile {
      width: 17px;
    }
  }

  &--logo {
    min-width: 28px;
  }

  &--name {
    text-align: left;
    width: 220px;

    @include desktop {
      width: 150px;
    }

    @include tablet {
      width: 150px;
    }

    @include mobile {
      width: 150px;
      min-width: 150px;
    }
  }

  &--games {
    width: 50px;

    @include desktop {
      min-width: 20px;
      width: 0;
    }

    @include tablet {
      min-width: 20px;
      width: 0;
    }

    @include mobile {
      min-width: 20px;
      width: 0;
    }
  }

  &--win {
    width: 50px;

    @include desktop {
      min-width: 20px;
      width: 0;
    }

    @include tablet {
      min-width: 20px;
      width: 0;
    }

    @include mobile {
      min-width: 20px;
      width: 0;
    }
  }

  &--draw {
    width: 50px;

    @include desktop {
      min-width: 20px;
      width: 0;
    }

    @include tablet {
      min-width: 20px;
      width: 0;
    }

    @include mobile {
      min-width: 20px;
      width: 0;
    }
  }

  &--loose {
    width: 50px;

    @include desktop {
      min-width: 20px;
      width: 0;
    }

    @include tablet {
      min-width: 20px;
      width: 0;
    }

    @include mobile {
      min-width: 20px;
      width: 0;
    }
  }

  &--pm {
    width: 50px;

    @include desktop {
      min-width: 35px;
      width: 0;
    }

    @include tablet {
      min-width: 35px;
      width: 0;
    }

    @include mobile {
      min-width: 35px;
      width: 0;
    }
  }

  &--points {
    width: 50px;

    @include desktop {
      min-width: 20px;
      width: 0;
    }

    @include tablet {
      min-width: 20px;
      width: 0;
    }

    @include mobile {
      min-width: 20px;
      width: 0;
    }
  }

}

.standings__table {
  border-collapse: collapse;
  cursor: pointer;
  transition: background .3s ease;
  width: 100%;
}

.standings__team-img {
  height: 26px;
  width: 26px;
}

.standings__circle-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

}

.standings__circle {
  background-color: #d8dadb;
  border-radius: 50%;
  height: 11px;
  margin-right: 4px;
  width: 11px;

  &--red {
    background-color: #ff7171;
  }

  &--green {
    background-color: #5bdc80;
  }

  &--yellow {
    background-color: #ffd249;
  }
}

